/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Recursive:wght@300..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Vollkorn+SC:wght@400;600;700;900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
// @import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);
// @import url(https://use.fontawesome.com/releases/v6.1.1/css/all.css);

@import 'fonts.css';

// fonts
$font-family-sans-serif: 'IBM Plex Sans', sans-serif !default;
$presentation-heading-font: 'Gagalin' !default;	

// colors
//based on https://draculatheme.com/

$background: #282a36;
$foreground: #FFFAF0;
$selection: #44475a;
$comment: #6272a4;
$red: #ff5555;
$orange: #ffb86c;
$yellow: #f1fa8c;
$green: #50fa7b;
$purple: #6272A4;
$cyan: #8be9fd;
$pink: #ff79c6;

// Override theme settings
$body-color: $foreground !default;
$presentation-heading-color: $red !default;
$presentation-heading-text-shadow: none !default;
$presentation-heading-text-transform: none !default;
$presentation-heading-letter-spacing: 0.05em;
$body-bg: $background !default;
$link-color: $yellow !default;
$link-color-hover: $cyan !default;
$selection-bg: $selection !default;
$presentation-list-bullet-color: $red !default;

// Change text colors against light slide backgrounds
$light-bg-text-color: $body-bg !default;

$body-bg: $dark !default;
$body-color: $light !default;
$link-color: $red !default;


$code-block-bg: lighten($background, 20%) !default;
$code-block-border-color: $yellow !default;

/*-- scss:rules --*/
// Define additional color effects based on Dracula spec
// https://spec.draculatheme.com/
:root {
  --r-bold-color: #{$red};
  --r-italic-color: #{$yellow};
  --r-inline-code-color: #{$code-color};
  --r-list-bullet-color: #{$presentation-list-bullet-color};
}

.reveal {
  strong,
  b {
    color: var(--r-bold-color);
  }
  em,
  i,
  blockquote {
    color: var(--r-italic-color);
  }
  code {
    color: $background;
    background-color: $yellow;
  }
  // Dracula colored list bullets and numbers
  ul,
  ol {
    li::marker {
      color: var(--r-list-bullet-color);
    }
  }
}

/**
 * Dracula colors by Zeno Rocha
 * https://draculatheme.com/contribute
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto;
}
.h2 {
  color: $primary, !important;
}


.picture {
  border-style: solid;
  border-width: 3pt;
  border-color: $body-color;
  border-radius: 50%;
  padding: 5pt;
  height: 50%;
  width: auto;
}

#title-slide {
  text-align: left;

  .subtitle,
  .institute,
  .quarto-title-affiliation,
  .quarto-title-author-email {
    font-style: italic;
    // font-size: 80%;
    color: #7F7F7F;
  }

  .author,
  .quarto-title-author-name {
    color: $body-color;
  }

  .quarto-title-authors {
    display: flex;
    justify-content: left;

    .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
    }
  }

  p.author::before,
  div.quarto-title-author::before {
    content: "";
    display: block;
    border: none;
    background-color: $body-color;
    color: $body-color;
    height: 3px;
    margin-bottom: 1em;
  }

  // p, a {
  //   color: #7F7F7F;
  // }
}

.footer {
  bottom: 10px !important;
  color: $body-color !important;
}

.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  right: 10px !important;
  max-height: 10% !important;
  height: 100% !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-menu-button {
  left: 10px !important;
  bottom: 10px !important;
}

.slide-number,
.reveal.has-logo .slide-number {
  bottom: 10px !important;
  right: 10px !important;
  top: unset !important;
  color: $body-color !important;
}



// code blocks



code.sourceCode>span {
  color: $yellow !important;
}

.center-x {
  text-align: center;
}

.center-xy {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%), translateX(-50%);
  transform: translateY(-50%), translateX(-50%);
}

div.sourceCode pre code > span, code span.bu, code span.dt, code span.va, code span.cn, code span.op { 
  color: #FFFAF0;

}

code span.er {
  color: $primary;
}

code span.st {
  color:  $primary;
}

code span.do, code span.co  {
  color:  #9e9e9e;
}

code span.fu, code span.cf, code span.im, code span.kw, code span.pp  {
  color:  $orange;
}

code span.at, code span.in {
  color:  $green;
}

code span.fl, code span.dv {
  color:  $pink;
}


code span.sc,  code span.ot{
  color:  $red;
}



// Background color sections

.example {
  &:is(.slide-background) {
  background: $yellow;
  }
}

.exercise {
  &:is(.slide-background) {
  background: $red;
  }
}


// Fontawesome

.fab, .fa-brands {
  font-family: 'Font Awesome 6 Brands';
  font-weight: 400;
  color: var(--r-bold-color);
  line-height: 1.5;
}

.fas, .fa-solid {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  color: var(--r-bold-color);
  line-height: 1.2;
}

// Slide iframes

.slides {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}
