@font-face {
  font-family: 'Gagalin';
  font-style: normal;
  src: local(''),
       url("fonts/Gagalin-Regular.woff2") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("fonts/Gagalin-Regular-regular.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}